* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; // Include padding and border in the element's total width and height
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    padding: 1rem;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
    "banner banner banner banner"
    "music music music music"
    "movies movies movies movies"
    "separator separator separator separator"
    "gifts gifts gifts gifts";

    & #banner {
        grid-area: banner;
        background: url("../../assets/images/adult-beautiful-blur-casual.jpg") no-repeat;
    }

    & #music {
        grid-area: music;
    }

    & #movies {
        grid-area: movies;
    }

    // it is working when using style on html tag directly ?!?!
    & #separator {
        grid-area: separator;
        background: url("../../assets/images/blue-universe.jpg") no-repeat;
    }

    & #gift-cards {
        grid-area: gifts;
        display: flex;

        & .gift-cards__image {
            display: block;
            float: left;
        }

        & .gift-cards__text {
            padding: 1rem;
        }
    }
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;

    & div {
        margin: 0 1rem;
    }
}
