* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; // Include padding and border in the element's total width and height
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template-areas: 
    "main main main main"
    "footer footer footer footer";
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #333333de;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
    & a {
        text-decoration: none;
        color: #eeeeee;
    }

    & .navigation ul {
        margin: 0;
        padding: 0;

        & li:first-of-type {
            display: inline-block;
            padding: 0 2rem;
        }

        & li {
            display: inline-block;
            padding-right: 2rem;
        }
    }
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
    "banner banner banner banner"
    "music music music music"
    "movies movies movies movies"
    "separator separator separator separator"
    "gifts gifts gifts gifts";

    & #banner {
        grid-area: banner;
        position: relative;

        & img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        & .banner__text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            padding: 0 3rem;
            color: #eeeeee;
            text-shadow: 2px 2px #333333;

            & p {
                line-height: 160%;
            }
        }
    }

    & #music {
        grid-area: music;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #333333;
        color: #eeeeee;
        padding: 1rem;

        & .music__note {
            filter: invert(100%) sepia(3%) saturate(362%) hue-rotate(193deg) brightness(114%) contrast(87%);
        }

        & button {
            background-color: #0726d3;
            color: #eeeeee;
            border: 1px solid #0726d3;
            font-size: 1.25rem;
            padding: 0.25rem;
            border-radius: 0.25rem;
        }

        & .music__tablet {
            width: 50%;
            height: auto;
        }
    }

    & #movies {
        grid-area: movies;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #eeeeee;
        color: #333333;
        padding: 1rem;
        text-align: center;

        & button {
            background-color: #0726d3;
            color: #eeeeee;
            border: 1px solid #0726d3;
            font-size: 1.25rem;
            padding: 0.25rem;
            border-radius: 0.25rem;
        }

        & img {
            margin-top: 1rem;
            width: 75%;
            height: auto;
        }
    }

    & #separator {
        grid-area: separator;
        position: relative;

        & img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        & .separator__text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: #eeeeee;
            padding: 0 3rem;
        }
    }

    & #gift-cards {
        grid-area: gifts;
        display: flex;
        padding: 1rem;

        & .gift-cards__text {
            padding: 0 1rem;

            & a {
                text-decoration: none;
            }
        }
    }
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    background-color: #333333;
    color: #eeeeee;

    & div {
        margin: 0 1rem;

        & ul {
            padding: 0;
            margin: 0;

            & li {
                list-style-type: none;
                line-height: 150%;
            }
        }
    }
}
