* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; // Include padding and border in the element's total width and height
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    grid-template-rows: minmax(100px, 10vh) 1fr 1fr minmax(100px, 10vh) 1fr;
    grid-template-areas: 
        "header header header header header"
        "main main main main main"
        "main main main main main"
        "main main main main main"
        "main main main main main"
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(5, auto);
    background-color: #35424a;
    border-bottom: 3px solid #e8491d;

    & .page-heading {
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: center;
        justify-self: center;
        color: white;

        & span {
            color: #e8491d;
        }
    }

    & .page-navigation {
        grid-column-start: 4;
        grid-column-end: 5;
        align-self: center;
        justify-self: center;

        & ul {
            padding: 0;
            margin: 0;
        }

        & li {
            display: inline-block;
            padding-right: 1.5rem;
            text-transform: uppercase;

            & a {
                color: white;
                text-decoration: none;
            }

            & a:visited, a:hover {
                color: #e8491d;
            }
        }
    }
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "banner banner banner banner banner"
    "banner banner banner banner banner"
    "newsletter newsletter newsletter newsletter newsletter"
    "categories categories categories categories categories";

    & .banner {
        grid-area: banner;
        background: url("../../assets/images/mansion-in-the-canyon.jpg") no-repeat;

        & .banner__text {
            text-align: center;
            color: white;
            font-size: 2rem;
        }
    }

    & .newsletter {
        grid-area: newsletter;
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        grid-gap: 1rem;
        background-color: #35424a;
        padding: 0.5rem;

        & .newsletter__heading {
            grid-column-start: 1;
            color: white;
            align-self: center;
            justify-self: center;
        }

        & .newsletter__email {
            grid-column-start: 2;
            align-self: center;
            height: 3rem;
            font-size: 1rem;
        }

        & .newsletter__submit {
            grid-column-start: 3;
            align-self: center;
            background-color: #e8491d;
            border: 1px solid #e8491d;
            height: 3rem;
            color: white;
            font-size: 1rem;
            cursor: pointer;
        }
    }

    & .categories {
        grid-area: categories;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: minmax(0, 1fr);
        grid-gap: 2rem;
        margin: 1rem;

        & div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
}


@media all and (max-width: 580px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
    }

    header {
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr;

        & h1 {
            font-size: 1.5rem;
            margin: 0 0 0 0.5rem;
        }
    }

    main {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr;

        & .newsletter {
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
        }

        & .categories {
            grid-area: categories;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: minmax(0, 1fr);
        }
    }
}
